*{
  margin: 0;
  padding: 0;
}

html, body{
  background-color: gray;
  overflow: hidden!important;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

header{
  .logo{
    position: absolute;
    left: 0;
    top: 0;
    img{
      height: 80px;
      margin: 5px;
    }
    z-index: 500;
  }
  .settings{
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 40px;
    margin: 5px;
    width: 40px;
    height: 45px;
    color: white;
    transition: color 100ms ease-in-out;
    &:hover{
      color: #c7c7c7;
      cursor: pointer;
    }
    .settingsIcon {
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
    }
    z-index: 500;
  }
  .sideMenu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    z-index: 450;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 1px solid black;
    color: white;
    transform: translateX(100%);
    .header{
      margin-inline: 10px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: start;
      h1{
        color: white;
        margin: 0;
      }
    }
    .body{
      margin-inline: 10px;
      h1, p{
        color: white;
      }
      p{
        margin-bottom: 5px;
      }
    }
  }
  .MenuClosed{
    animation: hideMenuHide 500ms ease-in-out 0s forwards;
  }
  .MenuOpen{
    animation: hideMenuShow 500ms ease-in-out 0s forwards;
  }
  .settingsGroup{
    margin-bottom: 5px;
  }
}

@keyframes hideMenuShow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes hideMenuHide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

#map {
  height: 100vh;
  overflow: hidden;
  background-color: #565656;
  position: relative;

  .leaflet-popup-content-wrapper {
    width: 100%;
  }
  .leaflet-control-zoom{
    position: absolute;
    top: 100px;
    left: 5px;
  }
}

.row{
  display: flex;
  .column{
    width: 50%;
  }
  .first{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.leaflet-map-pane svg{
  z-index: 20 !important;
}

.toolbar-topleft{
  z-index: 350;
  position: absolute;
  top: 50px;
  left: 5px;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 60px;
  background-color: white;
  .btn{
    border: none;
    border-radius: 3px;
    background-color: white;
    width: 60px;
    padding: 8px;
    &:not(:last-child){
      border-bottom: 2px solid rgba(0,0,0,0.2);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:hover{
      background-color: #e0e0e0;
    }
  }
}